@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(./netflix-sans-font/NetflixSans-Light.woff2) format('woff2'), url(./netflix-sans-font/NetflixSans-Light.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(./netflix-sans-font/NetflixSans-Regular.woff2) format('woff2'), url(./netflix-sans-font/NetflixSans-Regular.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(./netflix-sans-font/NetflixSans-Medium.woff2) format('woff2'), url(./netflix-sans-font/NetflixSans-Medium.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(./netflix-sans-font/NetflixSans-Bold.woff2) format('woff2'), url(./netflix-sans-font/NetflixSans-Bold.woff) format('woff')
}