@import './base.css';
@import './fonts.css';

#app {
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


* {
  font: var(--netflix-sans-medium-14-px, 500 14px 'Netflix Sans', sans-serif);
  font-style: normal;
  font-weight: 400;
}